{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">        
    <!-- CSS & Stylesheets  -->
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>
<div class="theme-layout">
	
</div>

<section>
    <div class="feature-photo">
        <figure><img src="{% static ''%}" alt=""></figure>
        <form action="/follow" method="POST">
            {% csrf_token %}
            <div class="add-btn">
            <span style="color: white; font-size: 27px; margin-right: 520px;"><b><u><a href="/">Home</a></u></b></span>
            
            <!-- Display Posts  -->
            {% if user_post_length == 0 %}
            <span style="color: white; font-size: 27px;"><b>No Post</b></span>
            {% elif user_post_length == 1 %}
            <span style="color: white; font-size: 27px;"><b>{{user_post_length}} Post</b></span>
            {% else %}
            <span style="color: white; font-size: 27px;"><b>{{user_post_length}} Posts</b></span>
            {% endif %}

            <!-- Display Users  -->
            {% if user_followers == 0 or user_followers == 1 %}
            <span style="color: white; font-size: 27px;"><b>{{user_followers}} follower</b></span>
            {% else %}
            <span style="color: white; font-size: 27px;"><b>{{user_followers}} followers</b></span>
            {% endif %}


            <span style="color: white; font-size: 27px;"><b>{{user_following}} following</b></span>

            <input type="hidden" value="{{user.username}}" name="follower" />
            <input type="hidden" value="{{user_object.username}}" name="user" />

            {% if user_object.username == user.username %}
            <a href="/settings" data-ripple="">Account Settings</a>
            {% else %}
            <a data-ripple=""><button type="submit" style="background-color: #ffc0cb; border: #ffc0cb;">{{button_text}}</button></a>
            {% endif %}

            </div>
        </form>
        <div class="container-fluid">
            <div class="row merged">
                <div class="col-lg-2 col-sm-3">
                    <div class="user-avatar">
                        <figure>
                            <img src="{''}" style="height: 250px; width: 100%;" alt="">
                        </figure>
                    </div>
                </div>
                <div class="col-lg-10 col-sm-9">
                </div>
            </div>
        </div>
    </div>
</section>

</body>


</html>